rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /menu_test/{document=**} {
      allow read, write: if true; // Permisivo para pruebas locales
    }
  }
}